[{"name": "jenkins", "app_id": "467078", "app_name": "a", "scanner": {"type": "SastPolicyScanner", "display_name": "SAST Policy Scan", "scan_name_type": "timestamp", "scan_name_env": null, "upload_include_pattern": "*.war", "upload_exclude_pattern": null, "module_include_pattern": null, "module_exclude_pattern": "", ".upload_exclude_pattern": null, "wait_for_complete": true, "fail_if_scan_fails": true}, "results_handlers": [{"type": "SynchroniseJIRA", "display_name": "Synchronise Flaws with JIRA", "jira_base_url": "", "jira_project": "", "sync_strategy": "all"}]}]