{
   "stages": [
       {
         "stage_pattern": "scan",
         [
           "static start"
         ]
       },
       {

       }
   ],
   "branches": [
      {
        "branch_pattern": "master",
        "static_config": {
          "scan_type": "policy",
          "scan_naming": "git",
          "upload_include_patterns": [
            "**/**.war"
          ],
          "upload_exclude_patterns": [],
          "results_timeout": 300
        },
        "portfolio": {
          "app_id": "12345"
        }
      },
      {
        "branch_pattern": ".*",
        "static_config": {
          "scan_type": "sandbox",
          "sandbox_naming": "branch",
          "scan_naming": "git",
          "upload_include_patterns": [
            "**/**.war"
          ],
          "upload_exclude_patterns": [],
          "results_timeout": 300
        },
        "portfolio": {
          "app_id": "12345"
        }
      }
    ]
}