[{"name": "a", "app_id": "467078", "app_name": "a", "scanner": null, "results_handlers": [{"type": "SynchroniseJIRA", "display_name": "Synchronise Flaws with JIRA", "sync_strategy": "policy_affecting", "mitigation_handling": false, "jira_base_url": "http://jira.verademo.com:8090/", "jira_user": "john", "jira_password": "V3rac0de!", "jira_project": "VER"}]}]