[
  {
    "match_pattern": "master",
    "static": {
      "scan_type": "policy",
      "scan_naming": "timestamp",
      "upload_include_patterns": [
        "target/verademo.war"
      ],
      "upload_exclude_patterns": [
      ]
    },
    "portfolio": {
      "app_id"="12345"
    }
  },
  {
    "match_pattern": "feature/.*",
    "static": {
      "scan_type": "sandbox",
      "scan_naming": "timestamp",
      "upload_include_patterns": [
        "target/verademo.war"
      ],
      "upload_exclude_patterns": [
      ]
    },
    "portfolio": {
      "app_id"="12345"
    }
  },
  {
    "match_pattern": ".*",
    "static": {
      "scan_type": "sandbox",
      "scan_naming": "timestamp",
      "upload_include_patterns": [
        "target/verademo.war"
      ],
      "upload_exclude_patterns": [
      ]
    },
    "portfolio": {
      "app_id"="12345"
    }
  }
]