[
  {
    "match_pattern": "master",
    "default": {
        "static": {
          "scan_type": "policy",
          "scan_naming": "timestamp",
          "upload_include_patterns": [
            "target/verademo.war"
          ],
          "upload_exclude_patterns": [
          ]
        },
        "portfolio": {
          "app_id":"12345"
        }
    },
    "my other config": {
        "static": {
          "scan_type": "sandbox",
          "scan_naming": "timestamp",
          "upload_include_patterns": [
            "target/verademo.war"
          ],
          "upload_exclude_patterns": [
          ]
        },
        "portfolio": {
          "app_id":"12345"
        }
    }
  }
    "match_pattern": ".*",
    "default": {
        "static": {
          "scan_type": "policy",
          "scan_naming": "timestamp",
          "upload_include_patterns": [
            "target/verademo.war"
          ],
          "upload_exclude_patterns": [
          ]
        },
        "portfolio": {
          "app_id":"12345"
        }
    },
    "my other config": {
        "static": {
          "scan_type": "sandbox",
          "scan_naming": "timestamp",
          "upload_include_patterns": [
            "target/verademo.war"
          ],
          "upload_exclude_patterns": [
          ]
        },
        "portfolio": {
          "app_id":"12345"
        }
    }
  }
]